
.App{
  text-align: center;
 
}
.card {
  background-color: #f2d6a2; 
  color: black;
  padding: 40px 20px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  width: 300px;
}

.card:hover {
  transform: scale(1.03);
}

.card.show-answer {
  background-color: rgb(71, 6, 6);
  color: white;
}

.cards-container{

  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}




